version: "3"
services:
  mongodb:
    image: mongo:6.0.13-jammy
    ports:
      - 27017:27017
    environment:
      - "MONGO_INITDB_DATABASE=simple"
    volumes:
      - ./data/mongo-init.js:/docker-entrypoint-initdb.d/mongo-init.js:ro
    deploy:
      resources:
        limits:
          cpus: "0.5"
          memory: 256M
